<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head('403 Forbidden')}"></head>

<body>

<div class="container text-center mt-5">

    <h1 class="display-1 text-warning">
        403
    </h1>

    <h2>
        Access Denied
    </h2>

    <p>
        You do not have permission to access this page.
    </p>

    <a class="btn btn-primary"
       th:href="@{/login}">
        Go to Login
    </a>

</div>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>

</html>