<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head('Login')}"></head>

<body>

	<div class="container auth-container">

		<div class="auth-card">

			<div class="text-center mb-4">

				<i class="bi bi-person-circle auth-icon"></i>

				<h2>Login</h2>

				<p class="subtitle">
					Customer Feedback System
				</p>

			</div>

			<div class="alert alert-danger" th:if="${param.error}">
				Invalid username or password.
			</div>

			<div class="alert alert-success" th:if="${param.logout}">
				Logged out successfully.
			</div>

			<div class="alert alert-success"
			     th:if="${success}"
			     th:text="${success}">
			</div>

			<form th:action="@{/login}" method="post">

				<div class="mb-3">

					<label>Username</label>

					<div class="input-group">

						<span class="input-group-text">
							<i class="bi bi-person-fill"></i>
						</span>

						<input class="form-control" type="text" name="username" placeholder="Enter Username" required>

					</div>

				</div>

				<div class="mb-4">

					<label>Password</label>

					<div class="input-group">

						<span class="input-group-text">
							<i class="bi bi-lock-fill"></i>
						</span>

						<input class="form-control" type="password" name="password" placeholder="Enter Password"
							required>

					</div>

				</div>

				<button class="btn btn-primary w-100">
					Login
				</button>

			</form>

			<hr>

			<p class="text-center">

				Don't have an account?

				<a th:href="@{/register}">
					Register
				</a>

			</p>

		</div>

	</div>

	<div th:replace="~{fragments/footer :: footer}"></div>

</body>

</html>